.btn-lg {
    background-color: #eae9f8;
}

#map {
    border-radius: 5px;
    -webkit-border-radius: 5px;
}

.popup {
    color: white;
    text-shadow: 3px 3px 6px black, 0 0 45px blue, 0 0 5px darkblue;
}

.text-labels {
    font-weight: bold;
    font-size: large;
    color: rgba(0, 0, 0, 0.6);
    text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2), 0px -5px 35px rgba(255, 255, 255, 0.3);
}


.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}


.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.3;
}